    /* Header */
    header {
        width: 100%;
        min-height: 400px;
        padding-top: 3em;
    }
    #home header {
        background:  no-repeat lightgrey url(images/cliff_ocean.jpg);
        background-size: cover;
    }
    .main-header {
        background-color:rgb(255, 255, 255, 0.8) ; 
        margin: 2em auto 0 auto;
        min-height: 100px;
        width: 75%;
    }

    .logo {
        position: relative;
        width: 120px;
        height: 100px;
    }
    .logo img {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: flex-start;
        position: relative;
        right: 12px;
    }
    #home .main-col-content {
        border: 1px solid #C0C0C0; 
        padding: 25px;
        min-height: 400px;
    }
    /* Navigation */
    .main-menu {
        font-weight: 400;
        margin: 0;
        padding: 0 20px;
    }
    .main-menu ul li {
        list-style-type: none;
        display: inline-block;
        padding-left: 25px;
        padding-right: 25px;
        border-left: 1px solid rgba(202, 204, 202, 0.6);
        line-height: 100px;
        text-transform: uppercase;
        font-size: 14px;
    }

    .main-menu ul li a {
        text-decoration: none;
        color: rgb(104, 104, 104);
    }
    .main-menu ul li a:hover {
        color: #9ed034;
    }
    .main-menu ul li.active {
        background: #9ed034;
        border: none;
    }
    .main-menu ul li.active a {
        color: rgb(187, 187, 187);
    }

    .main-menu ul li:last-child {
        padding-right: 0; 
        margin-right: 0;
    }
    
    /* Main */
    main {
        padding: 3em 6em 3em 5.5em;
        margin: 2em 0;
        font-family:Arial, Helvetica, sans-serif;
    }
    main h1 {
        font-size: 2.5em;
        padding-bottom: 0.5em;
        color: #9ed034;
    }
    main h2 {
        font-size: 1.7em;
    }

    /* Partners */
    section {
        width: 100%;
        background-color: #4288C3;
    }
    section #partners {  
        width:100%;
        padding: 2em 0 2em 0;
        margin: 0 auto;
        text-align: center;
    }
    section #partners .partner {
        display: inline-block;
        margin: 0 0.75em;
        padding: 1.3em 1.5em;
        background-color: #fff;
        border-radius: 50%;
    }
    section #partners .partner img {
        width: 90px;
        height: 90px;
    }

    /* Footer */
    footer {
        width: 100%;
        padding: 1em 0; 
        background-color: #ecfab8; 
    }

    /* Nondisclaimer Section */
    footer #nondisclaimer {
        display: flex; 
        flex-direction: column; 
        align-items: center;
        justify-content: center; 
        text-align: center; 
    }

    /* Copyright text styling */
    footer #nondisclaimer .copy {
        margin-bottom: 10px; 
    }

    /* Social Media Icons Container */
    footer #nondisclaimer .social {
        display: flex; 
        justify-content: center; 
        padding: 10px; 
        width: 100%; 
    }

    /* Style for social media icons */
    footer #nondisclaimer .social .fa {
        padding: 10px; 
        font-size: 20px;
        width: 40px;
        text-align: center;
        text-decoration: none;
        margin: 0 4px; 
        border-radius: 50%; 
    }

    /* Change background color for each icon for better visibility */
    footer #nondisclaimer .social .fa-facebook {
        background: #3B5998;
        color: white;
    }

    footer #nondisclaimer .social .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    footer #nondisclaimer .social .fa-instagram {
        background: #125688;
        color: white;
    }

    /* Hover effect for icons */
    footer #nondisclaimer .social .fa:hover {
        opacity: 0.7; 
    }

    /* Disclaimer styling */
    footer #disclaimer {
        text-align: center; 
        padding: 1em 0; 
    }

    /* Media Queries */
    @media (max-width: 576px) {
        /* Extra Small */
        footer #nondisclaimer {
            align-items: center; 
        }
        footer #nondisclaimer .social {
            background-color: white; 
        }
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        /* Small */
        footer #nondisclaimer {
            align-items: center; 
        }
        footer #nondisclaimer .social {
            background-color: white; 
        }
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        /* Medium */
        footer #nondisclaimer {
            align-items: center; 
        }
        footer #nondisclaimer .social {
            background-color: white; 
        }
    }

    @media (min-width: 992px) {
        /* Large and Up */
        footer #nondisclaimer {
            flex-direction: row; 
            justify-content: space-between; 
            padding: 0 20px;
        }

        footer #nondisclaimer .copy {
            text-align: left; 
            margin-left: 200px; 
        }

        footer #nondisclaimer .social {
            justify-content: flex-start; 
            padding: 0; 
            width: auto; 
            background-color: transparent; 
            margin-right: 200px; 
        }
    }

    /* Home */
    /* ACTIVATE BELOW WHEN TESTING NAVIGATION AND OTHERS FOR RWD */

    /* Media Queries */
    @media (max-width: 768px) {
        footer #nondisclaimer .copy {
            padding: 3.5em 0em 3.5em 0em;
            text-align: center;
            float: none;
            font-size: 0.9em;
        }
        footer #nondisclaimer .social {
            padding: 2.5em 0;
            margin: 0;
            text-align: center;
            float: none;
        }
        .navbar-main {
            width: 85%;
        }    
        header {
            height: 400px;
        }
        .navbar-collapse {
            display: block; 
        }

        .navbar {
            position: relative;
        }
        
        .navbar-toggler {
            display: block; 
            color: white;
            border: none;
            padding: 10px;
        }

        /* Adjust menu items for mobile view */
        .main-menu ul {
            display: none; 
        }
        .navbar-collapse.collapse.show .main-menu ul {
            display: block; 

            background-color: rgba(255, 255, 255, 0.8);
            text-align: center;
        }
        .main-menu ul li {
            padding: 10px;
            display: block; 
        }
    }


    /* For mobile views (Extra Small, Small, Medium) */
    @media (max-width: 992px) {
        .main-menu {
            background-color: rgba(255, 255, 255, 0.8);
        }
        
        .main-menu ul li {
            display: block; 
            width: 80%; /* Reduced width */
            margin: 0 auto; /* Center the items */
            padding: 10px; /* Reduced padding */
            border-bottom: 1px solid rgb(202, 204, 202);
            font-size: 14px; /* Adjust font size if needed */
            line-height: 1.5; /* Adjust line height for better spacing */
        }
        
        .navbar-toggler {
            padding: 5px; /* Adjust padding around the hamburger icon */
        }

        /* Additional styles to ensure better visibility */
        .navbar-collapse {
            display: block; 
        }
        
        .navbar-collapse.collapse.show .main-menu ul {
            display: block; 
            text-align: center;
        }
    }

    /* Changes only for large viewports and up (992px and above) */
    @media (min-width: 992px) {
        .collapse.navbar-collapse {
            justify-content: flex-end; 
        }

        .navbar-nav {
            width: 100%;
            display: flex;
            justify-content: flex-end; 
        }

        .navbar-nav li {
            margin-left: 15px; 
        }
        
        /* Remove margin from the last item */
        .navbar-nav li:last-child {
            margin-right: 0;
        }
    }

        @media (max-width: 992px) {
            .logo img {
                position: relative;
                bottom: 8px;
            }
            .main-menu {
                background-color:rgb(255, 255, 255);
            }
            .main-menu ul li {
                display: block; 
                width: 100%;   
                padding: 15px 20px;
                border-bottom: 1px solid rgb(202, 204, 202);
                
            }
            main {
                padding: 3em 1em 3em 1em;
                margin: 0;
            }
            #home .main-col-content {
                padding: 25px;
                min-height: 450px;
                margin-top: 1em;
            }
            header {
                height: 400px;
            }
            .navbar-collapse {
                display: block; 
            }

            .navbar {
                position: relative;
            }
            
            .navbar-toggler {
                display: block; 
                color: white;
                border: none;
                padding: 10px;
            }
            

            /* Adjust menu items for mobile view */
            .main-menu ul {
                display: none; 
            }
            .navbar-collapse.collapse.show .main-menu ul {
                display: block; 
                text-align: center;
            }
            .main-menu ul li {
                padding: 10px;
                display: block; 
            }
     }